<html>
<head>
<script>
function ticken(){
var today = new Date();
const monthNames = ["Januar", "Februar", "März", "April", "Mai", "Juni",
        "Juli", "August", "September", "Oktober", "November", "Dezember"];
let dateObj = new Date();
let month = monthNames[dateObj.getMonth()];
let day = String(dateObj.getDate()).padStart(2, '0');
let year = dateObj.getFullYear();
let date = day  + ' ' + month + ' ' + year;
var stunden, minuten, sekunden;
var StundenZahl, MinutenZahl;
var heute;
 
  heute = new Date();
  StundenZahl = heute.getHours();
  MinutenZahl = heute.getMinutes();
 
stunden = StundenZahl+":";
if (MinutenZahl < 10) {minuten = "0" + MinutenZahl;}
else {minuten = MinutenZahl;}
    time = stunden + minuten;
var dateTime = '<center>' + time +'<br>'+ date + '</>';
uhr.innerHTML = dateTime;
 
  window.setTimeout("ticken();", 1000);
}
 
window.onload = ticken;
</script>
<style>
body {
  background-image: url("static/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#uhr {
     font-size: 1000%;
     color: white;
    position: absolute;
    top: 81%;
    left: 80%;
    margin-right: -70%;
    transform: translate(-70%, -70%);
}
</style>
</head>
<body>
<div id="uhr"></div>
</body>
</html>